@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@250&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #7ED957;
  --secondary-color: #F9B9F2;
  --accent1-color: #040403;
  --accent2-color: #408C44;

  /* change the values below to your chosen font(s) */
  --heading-font: "Kanit", sans-serif;
  --paragraph-font: "Josefin Sans", arial, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: white;
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--secondary-color);
}


.theme-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

#theme {
  font-size: large;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-evenly; */
    background-color: var(--primary-color);
    /* padding: 1em; */
    margin: 0 auto;
    
}

.logo {
    max-width: 100px;
    height: auto;
    justify-self: center;
    align-self: center;
}

nav {
  background-color: var(--nav-background-color);
  text-align: center;
  font-size: 2em;
  font-family: var(--heading-font);
  width: 50%;
}

nav a {
  /* padding: 1em; */
  min-width: 120px;
  text-decoration: none;
  /* padding: 10px; */
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;

}

nav ul li { 
  text-align: center;
  padding: 1em;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--paragraph-font);
}

.main-title {
  margin: 0 auto;
  text-align: center;

}

.main-title p {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.main-page h2 {
  font-size: 2em;
  color: var(--headline-color-on-white);
  margin-bottom: 0.5em;
}

.main-page img {
  max-width: 70%;
  height: auto;
  margin-bottom: 1em;
}

.main-page h1 {
  font-size: 3em;
  color: var(--headline-color-on-white);
  margin-bottom: 0.5em;
}

.description h2 {
  text-align: center;
}

.description p {
  font-size: 1.5em;
  line-height: 2;
  margin: 0 2em;
}


.search {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem;
  border: 2px solid black;
  border-radius: 0.5rem
}

.search input {
  /* padding: 0.5rem; */
  font-size: 1.5rem;
  width: 100%;
  height: 2.3rem;
}

.search img {
  width: 2rem;
  height: auto;
}

.search button {
  background-color: white;
  border: none;
  border-left: 2px solid black;
  z-index: -1;
}

.search input {
  border: none;
  margin-left: 0.5rem;
}

.plant-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: var(--paragraph-background-color); */
  color: var(--paragraph-color-on-color);
  padding: 1em;
  border-radius: 0.5em;
  margin: 2em;
}

.plant-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--paragraph-background-color);
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.plant-image img {
  max-width: 550px;
  height: auto;
  padding: 1em;
}

.plant-info {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  width: 25vw;
}

.plant-info p {
  margin-bottom: 0;
}

.dark {
  background-color: var(--accent1-color);
  color: var(--paragraph-color-on-color);
}

@media (max-width: 900px) {
  .plant-card {
    flex-direction: column;
    align-items: center;
    /* width: 90vw; */
  }

  .plant-image {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
  }

  .plant-image img {
    max-width: 85vw;
    height: auto;
  }

  .plant-info {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  nav a {
    font-size: 1em;

  }

  nav ul li {
    padding: 0.5em;
  }

  nav ul {
    padding: 0;
  }

  @media (max-width: 400px) {
    nav a {
      font-size: 0.8em;
  
    }
  
    nav ul li {
      padding: 0.3em;
    }
  
    nav ul {
      padding: 0;
    }
  }
}
